@use "sass:color";

$main-color: rgb(255, 240, 212);
$main-hover-color: rgba(255, 240, 212, 0.747);
$accent-color: brown;
$accent-hover-color: rgb(94, 11, 11);

$footer-hover-buttons: color.scale($accent-color, $lightness: 40%);


// Main Page SCSS
.main-page {
  transform: translateY(60px);
  height: calc(95vh - 60px);
}

.main-page, .main-page-left, .filter-buttons, .profile-card {
  display: flex;
}

.main-page-left, .filter-buttons, .profile-card {
  flex-direction: column;
  align-items: center;
}

.profile-card {
  div {
    margin-top: 10px;
  }
}

/* remove margin once proper css has been added to container */
@mixin feed-card {
  display:grid;
  max-width: 800px;
  height: 320px;
  border-bottom: 2px solid $accent-color;
  // background-color: white;
  // box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  // border-radius: 10px;
}

.main-page-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 3px solid $accent-color;
  width: 25%;
}

.feed {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: scroll;
  padding-right: 20px;
}

.feed-container {
  margin-left: 30px;
  overflow: scroll;
}

.feed-title {
  text-align: center;
  height: 50px;
  line-height: 50px;
}

/* PROFILE CARD */
.avatar {
  max-width: 80%;
  max-height: 80%;
  object-fit: scale-down;
  border: 1px solid $accent-color;
  border-radius: 20px;
}

/* FILTER BUTTONS */
.filter{
  border: none;
  border-radius: 0;
  width: 100.5%;
}

.selected {
  color: $main-color;
  background-color: $accent-color;
}

/* PROJECT CARD */

.project-card {
  @include feed-card;
  grid-template-rows: 7% 60% 50px;
  align-content: space-evenly;
}
.project-name-div {
  justify-self: center;
  color: $accent-color;
  font-size: 20px;
  font-weight: bold;
}

.project-info {
  display: grid;
  grid-template-columns: 200px 70%;
  justify-content: space-evenly;
  max-height: 200px;
  overflow: hidden;

  .project-photo-div {
    position: relative;
    max-width: 240px;
    max-height: 200px;
    height: 60%
    // overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
    .project-img-heart {
      position: absolute;
      top: 5px;
      right: 5px;
    }
    .project-img-heart:hover {
      cursor: pointer;
      animation: heart-hover .3s infinite alternate;
    }

    @keyframes heart-hover {
      from {
        font-size: ms(3);
      }
      80% {
        font-size: ms(2);
      }
    }

  }

  .project-details {
    display: grid;
    grid-template-rows: 60% 10px 1fr;

  }
}

.project-owner-img {
  width: 50px;
  grid-area: picture;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $accent-color;
}

.project-footer {
  display: grid;
  grid-template-columns: 50px 90%;
  justify-content: space-evenly;
  grid-template-rows: 25px 25px;
  grid-template-areas:
    "picture name"
    "picture buttons";
}

.project-footer-name-div {
  grid-area: name;
  display: flex;
}

.card-footer-buttons-div {
  grid-area: buttons;
  display: flex;
  justify-content: space-between;
}

.card-footer-button {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
  height: 25px;
  border-radius: 3px;
  transition: color 200ms;
  align-items: center;
  transition: 0.3s ease-out;
  // text-align: center;
}

.up {
  color: orange;
}

.down {
  color: blue;
}

.report {
  color: red;
}

.card-footer-button:hover {
  cursor: pointer;
  color: $accent-hover-color;
  background-color: $footer-hover-buttons;
  transition: 0.3s ease-out;
}

/* TOOL CARD */

.tool-card {
  @include feed-card;
  grid-template-columns: 25% 65%;
  justify-content: space-evenly;
  // background-color: white;
}

.user-name-and-score-div {
  display: grid;
  grid-template-rows: 32% 10px 52%;
  justify-content: center;
  align-content: space-evenly;
  grid-template-areas: "avatar"
    "username"
    "handy";
}

.tool-user-avatar-div {
  // background-color: greenyellow;
  grid-area: avatar;
  text-align: center;
  justify-self: center;
  width: 120px;
  height: 120px;
}

.tool-user-name-div {
  // background-color: grey;
  justify-self: center;
  align-self: center;
  grid-area: username;
  text-align: center;
}

.tool-handy-div {
  // background-color: hotpink;
  grid-area: handy;
  text-align: center;
}

.tool-name-image-and-message-div {
  display: grid;
  grid-template-rows: 20px 230px 20px;
  justify-content: center;
  align-content: space-evenly;
  grid-template-areas:
    "tool-name"
    "tool-image"
    "buttons";
}

.tool-name-div {
  grid-area: tool-name;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.tool-image-div {
  grid-area: tool-image;
  overflow: hidden;
  border-radius: 10px;
}

.message-button-div {
  grid-area: message-button;
  text-align: center;
}

.tool-card-tool-img {
  width: 100%;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: scale-down;
}

.tool-avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.handy-none-tools, .handy-bronze-tools, .handy-silver-tools, .handy-gold-tools, .handy-platinum-tools {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-image: radial-gradient(rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 45%);
  font-size: 150px;
}

.handy-none-project-footer, .handy-bronze-project-footer, .handy-silver-project-footer, .handy-gold-project-footer, .handy-platinum-project-footer {
  width: 18px;
  height: 18px;
  border-radius: 30px;
  background-image: radial-gradient(rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 45%);
  font-size: 18px;
  margin: 0 3px;
}

.handy-none-tools, .handy-none-project-footer, .handy-bronze-tools, .handy-bronze-project-footer {
  color:rgb(132, 88, 27);
}

.handy-silver-tools, .handy-silver-project-footer {
  color: rgb(164, 164, 164);
}

.handy-gold-tools, .handy-gold-project-footer {
  color: gold;
}

.handy-platinum-tools, .handy-platinum-project-footer {
  color: rgb(148, 193, 193);
}

