$main-color: rgb(255, 240, 212);
$main-hover-color: rgba(255, 240, 212, 0.747);
$accent-color: brown;
$accent-hover-color: rgb(94, 11, 11);

// Main Page SCSS
.main-page {
  transform: translateY(60px);
}

.main-page, .main-page-left, .filter-buttons, .profile-card {
  display: flex;
}

.main-page-left, .filter-buttons, .profile-card {
  flex-direction: column;
  align-items: center;
}

/* remove margin once proper css has been added to container */
@mixin feed-card {
  display:grid;
  width: 85%;
  height: 300px;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.main-page-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 3px solid $accent-color;
  width: 25%;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: calc(100vh - 60px);
  overflow: scroll;
}

.feed-container {
  margin-left: 30px;
}

.feed-title {
  text-align: center;
  height: 50px;
  line-height: 50px;
}

/* PROFILE CARD */
.avatar {
  max-width: 75%;
  max-height: 75%;
  object-fit: scale-down;
  border: 1px solid $accent-color;
  border-radius: 20px;
}

/* FILTER BUTTONS */
.filter-buttons button {
  width: 100%;
  margin-bottom: 10px;
}

/* PROJECT CARD */

.project-card {
  @include feed-card;
  grid-template-rows: 30px auto 50px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  padding-bottom: 40px;
}
.project-name-div {
  color: $accent-color;
}
.project-info {
  display: grid;
  grid-template-columns: 220px 1fr;
  max-height: 220px;
  overflow: hidden;

  .project-photo-div {
    position: relative;
    max-width: 240px;
    max-height: 220px;
    // overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: fill;
    }
    .project-img-star {
      position: absolute;
      top: 5px;
      right: 5px;
      transition: color 200ms;
    }
    .project-img-star:hover {
      cursor: pointer;
      color: $accent-hover-color;
    }
  }

  .project-details {
    display: grid;
    grid-template-rows: 60% 10px 1fr;
    margin-left: 20px;

    .project-description, .needed-tools {
      overflow: scroll;
    }
  }
}

.project-owner-img {
  width: 50px;
  grid-area: picture;
  height: 50px;
  border-radius: 50%;
}

.project-footer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 25px 25px;
  grid-template-areas:
    "picture name"
    "picture buttons";
}

.project-footer-name-div {
  grid-area: name;
  display: flex;
}

.project-footer-buttons-div {
  grid-area: buttons;
  display: flex;
  justify-content: space-evenly;
}

.project-footer-button {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
  height: 25px;
  border-radius: 3px;
  transition: color 200ms;
  // text-align: center;
}

.project-footer-button:hover {
  cursor: pointer;
  color: $accent-hover-color;
}

/* TOOL CARD */

.tool-card {
  @include feed-card;
  grid-template-columns: 30% 70%;
  background-color: white;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.user-name-and-score-div {
  display: grid;
  grid-template-rows: 100px 30px 170px;
  justify-content: center;
  grid-template-areas: "avatar"
    "username"
    "handy";
}

.tool-user-avatar-div {
  background-color: greenyellow;
  grid-area: avatar;
  text-align: center;
  margin: 10px;
  width: 120px;
  height: 120px;
}

.tool-user-name-div {
  background-color: grey;
  grid-area: username;
  text-align: center;
  margin: auto;
}

.tool-handy-div {
  background-color: hotpink;
  grid-area: handy;
  text-align: center;
}

.tool-name-image-and-message-div {
  display: grid;
  grid-template-rows: 20px 230px 20px;
  justify-content: center;
  grid-template-areas:
    "tool-name"
    "tool-image"
    "message-button";
}

.tool-name-div {
  grid-area: tool-name;
  text-align: center;
}
.tool-image-div {
  grid-area: tool-image;
  overflow: hidden;
  border-radius: 10px;
}

.message-button-div {
  grid-area: message-button;
  text-align: center;
}

.tool-card-tool-img {
  width: 100%;
  // border-radius: 20px;
  object-fit: scale-down;
}

.tool-avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
}

.handy-none-tools, .handy-bronze-tools, .handy-silver-tools, .handy-gold-tools, .handy-platinum-tools {
  width: 150px;
  height: 150px;
  background-image: url('./images/handy.png');
  background-repeat: no-repeat;
  background-size: 300px;
}

.handy-none-project-footer, .handy-bronze-project-footer, .handy-silver-project-footer, .handy-gold-project-footer, .handy-platinum-project-footer {
  width: 25px;
  height: 25px;
  background-image: url('./images/handy.png');
  background-repeat: no-repeat;
  background-size: 50px;
}