@use '../components/MainPage/mainpage';
@use '../components/ProfilePage/profilepage';

$main-color: rgb(255, 240, 212);
$main-hover-color: rgba(255, 240, 212, 0.747);
$accent-color: brown;
$accent-hover-color: rgb(94, 11, 11);

body {
  background-color: $main-color;
  color: $accent-color;
  overscroll-behavior: none;
  overflow: hidden;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: $accent-color;
  color: $main-color;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

span {
  display: flex;
}

button {
  height: 30px;
  width: auto;
}


body button {
  border: 1px solid $accent-color;
  border-radius: 5px;
  background-color: $main-color;
  color: $accent-color;
  transition: color 200ms;
}

body button:hover {
  border: 1px solid $main-color;
  background-color: $accent-color;
  color: $main-color;
  cursor: pointer;
}

nav button {
  border: none;
  background-color: $accent-color;
  color: $main-color;
  transition: color 200ms;
}

nav button:hover {
  border: none;
  color: $main-hover-color;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-corner {
  color: $main-color;
}

::-webkit-scrollbar-thumb {
  background: $accent-color;
  border-radius: 10px;
}

// Navbar
.page-title {
  line-height: 55px;
  padding-left: 10px;
}

.navbar-right {
  display: flex;
  align-items: flex-end;
  padding-right: 10px;
}

.navbar-right button, .navbar-right span, .navbar-right div {
  margin-left: 15px;
}

.handy-score {
  transform: translateY(-7px);
}

.navbar-right div {
  transform: translateY(2px);
}

.navbar-right span img:hover, .page-title:hover {
  cursor: pointer;
}

.nav-avatar {
  width: 37px;
  height: 37px;
  object-fit: scale-down;
  border-radius: 50%;
}

// Google log in button
.google-login {
  // div {
  //   padding: 4px !important;
  //   margin-right: 0 !important;
  // }

  // span {
  //   padding: 5px !important;
  // }
  height: auto;
}

// Handy Status Icon
.handy-none, .handy-bronze, .handy-silver, .handy-gold, .handy-platinum {
  width: 44px;
  height: 44px;
  background-image: url('./images/handy.png');
  background-repeat: no-repeat;
  background-size: 80px;
}

.handy-bronze {
  background-position: 4px 4px;
}

.handy-silver {
  background-position: -38px 4px;
}

.handy-gold {
  background-position: 4px -38px;
}

.handy-platinum {
  background-position: -38px -38px;
}

// Inbox Page
.inbox-container {
  transform: translateY(60px);
  height: 75vh;
  min-height: 400px;
  min-width: 270px;
  opacity: 0;
  animation: .1s ease-out .7s 1 forwards loadInbox;
}

.inbox-loading {
  width: 100%;
  height: 0;
  margin: 0 auto;
  font-size: 1vw;
  text-align: center;
  margin-top: 200px;
  animation: 0s ease-in .6s 1 forwards load;
}

// Chat Box
.chatbox-container {
  height: 400px;
  position: fixed;
  right: 5vw;
  bottom: 0vh;
  animation: .5s ease-out .2s 1 forwards loadChat;
  overflow: hidden;
  transition: all .4s;
  z-index: 100;
}

@keyframes loadChat {
  0% {
    bottom: -400px;
  }
  100% {
    bottom: 0vh;
  }
}

@keyframes loadInbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    opacity: 1;
    margin-top: 100px;
  }
  100% {
    opacity: 0;
    margin-top: 0;
  }
}

// Map
#map {
  width: 80%;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 120px;
}
