@use '../components/MainPage/mainpage';
@use '../components/ProfilePage/profilepage';
@use '../components/LandingPage/landingpage';

$main-color: rgb(255, 240, 212);
$main-hover-color: rgba(255, 240, 212, 0.747);
$accent-color: brown;
$accent-hover-color: rgb(94, 11, 11);

body {
  margin: 0;
  background-color: $main-color;
  color: $accent-color;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  // background-image: url('./images/wood.png');
  // background-position: center;
  // object-fit: cover;
}

p {
  padding: none;
  margin: 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: $accent-color;
  color: $main-color;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

span {
  display: flex;
}

button {
  height: 20px;
  width: auto;
}

body button {
  border: 1px solid $accent-color;
  border-radius: 5px;
  background-color: $main-color;
  color: $accent-color;
  transition: color 200ms;
}

body button:hover {
  border: 1px solid $main-color;
  background-color: $accent-color;
  color: $main-color;
  cursor: pointer;
}

nav button {
  border: none;
  background-color: $accent-color;
  color: white;
  transition: color 200ms;
}

nav button:hover {
  border: none;
  color: $main-hover-color;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-corner {
  color: $main-color;
}

::-webkit-scrollbar-thumb {
  background: $accent-color;
  border-radius: 10px;
}

// Navbar
.page-title {
  margin: 15px;
  font-size: 20px;
  height: 25px;
}

.navbar-right {
  display: flex;
  align-items: flex-end;
  padding-right: 10px;
}

.navbar-right button,
.navbar-right span,
.navbar-right div {
  margin-left: 15px;
}

.navbar-right span img:hover,
.page-title:hover {
  cursor: pointer;
}

.nav-avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
  transform: translateY(6px);
}

// Google log in button
.google-login {
  div {
    padding: 4px !important;
    margin-right: 0 !important;
  }

  span {
    padding: 5px !important;
  }

  height: 30px;
  margin: 12px;
}

// Handy Status Icon
.handy-none,
.handy-bronze,
.handy-silver,
.handy-gold,
.handy-platinum {
  width: 18px;
  height: 18px;
  border-radius: 30px;
  background-image: radial-gradient(rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 45%);
  font-size: 18px;
  margin: 0 3px;
}

.handy-none,
.handy-bronze {
  color: rgb(132, 88, 27);
}

.handy-silver {
  color: rgb(164, 164, 164);
}

.handy-gold {
  color: gold;
}

.handy-platinum {
  color: rgb(148, 193, 193);
}

// Inbox Page
.inbox-container {
  // transform: translateY(60px);
  height: 75vh;
  width: auto;
  min-height: 400px;
  min-width: 270px;
  opacity: 0;
  animation: 0.1s ease-out 0.7s 1 forwards loadInbox;
  position: relative;
  margin: auto;
}

.inbox-loading {
  height: 0;
  margin: 0;
  font-size: 1vw;
  text-align: center;
  margin-top: 200px;
  animation: 0s ease-in 0.6s 1 forwards load;
}

// Chat Box
.chatbox-container {
  height: 400px;
  position: fixed;
  right: 2.5vw;
  bottom: 0;
  animation: .4s ease-out 0s 1 loadChat;
  overflow: hidden;
  transition: all 0.4s;
  z-index: 100;
}

@keyframes loadChat {
  0% {
    height: 0;
  }
  100% {
    height: 400px;
  }
}

@keyframes hideChat {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(400px);
  }
}

@keyframes loadInbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    opacity: 1;
    margin-top: 100px;
  }
  100% {
    opacity: 0;
    margin-top: 0;
  }
}

// Map
#map {
  width: 80%;
  height: 300px;
  border-radius: 20px;
  opacity: 0;
  animation: 0.1s ease-out 0.1s 1 forwards loadInbox;
  margin-top: 0px;
}
