@use '../src/components/MainPage/mainpage';

$main-color: rgb(255, 240, 212);
$accent-color: brown;

body {
  background-color: $main-color;
  color: $accent-color;
}

nav {
  display: flex;
  justify-content: space-between;
}

span {
  display: flex;
}

button {
  height: 30px;
}

.navbar-right {
  display: flex;
  align-items: flex-end;
}

// Handy Status Icon
.handy-none, .handy-bronze, .handy-silver, .handy-gold, .handy-platinum {
  width: 44px;
  height: 44px;
  background-image: url('./img/handy.png');
  background-repeat: no-repeat;
  background-size: 80px;
}

.handy-bronze {
  background-position: 4px 4px;
}

.handy-silver {
  background-position: -38px 4px;
}

.handy-gold {
  background-position: 4px -38px;
}

.handy-platinum {
  background-position: -38px -38px;
}

// Inbox Page
.inbox-container {
  height: 75vh;
  min-height: 400px;
  min-width: 270px;
  opacity: 0;
  animation: .1s ease-out .7s 1 forwards loadInbox;
}

.inbox-loading {
  width: 100%;
  height: 0;
  margin: 0 auto;
  font-size: 1vw;
  text-align: center;
  margin-top: 200px;
  animation: 0s ease-in .6s 1 forwards load;
}

// Chat Box
.chatbox-container {
  height: 400px;
  position: fixed;
  left: 10vw;
  bottom: -45vh;
  animation: .5s ease-out .2s 1 forwards loadChat;
  overflow: hidden;
}

@keyframes loadChat {
  0% {
    bottom: -45vh;
  }
  100% {
    bottom: 0;
  }
}

@keyframes loadInbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    opacity: 1;
    margin-top: 100px;
  }
  100% {
    opacity: 0;
    margin-top: 0;
  }
}

// Main Page SCSS
.main-page, .main-page-left, .filter-buttons, .profile-card {
  display: flex;
}

.main-page-left, .filter-buttons, .profile-card {
  flex-direction: column;
  align-items: center;
}

// Map
#map {
  width: 300px;
  height: 300px;
}
