
$main-color: rgb(255, 240, 212);
$accent-color: brown;

body {
  background-color: $main-color;
  color: $accent-color;
}

nav {
  display: flex;
  justify-content: space-between;
}

// Inbox SCSS
.inbox-container {
  height: 90vh;
  min-height: 300px;
  min-width: 270px;
  opacity: 0;
  animation: .1s ease-out .6s 1 forwards loadInbox;
}

.inbox-loading {
  width: 100%;
  height: 0;
  margin: 0 auto;
  font-size: 2vw;
  text-align: center;
  margin-top: 200px;
  animation: 0s ease-in .6s 1 forwards load;
}

// Chat SCSS
.chatbox-container {
  height: 45vh;
  min-height: 300px;
  position: fixed;
  left: 10vw;
  bottom: -45vh;
  animation: .5s ease-out .2s 1 forwards loadChat;
  overflow: hidden;
}

@keyframes loadChat {
  0% {
    bottom: -45vh;
  }
  100% {
    bottom: 0;
  }
}

@keyframes loadInbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    opacity: 1;
    margin-top: 100px;
  }
  100% {
    opacity: 0;
    margin-top: 0;
  }
}

// Main Page SCSS
.main-page, .main-page-left, .filter-buttons, .profile-card {
  display: flex;
}

.main-page-left, .filter-buttons, .profile-card {
  flex-direction: column;
  align-items: center;
}
