$main-color: rgb(255, 240, 212);
$accent-color: brown;

body {
  background-color: $main-color;
  color: $accent-color;
}

.inbox-container {
  height: 90vh;
  min-height: 300px;
  min-width: 270px;
}

.chatbox-container {
  height: 40vh;
  min-height: 300px;
  position: fixed;
  left: 10vw;
  bottom: 0;
}
